/*Navigation bar*/
.collapsible__header {
  display: flex;
  justify-content: space-between;
}

.collapsible__heading {
  margin-top: 0;
  font-size: 3rem;
}

.collapsible__chevron {
  transform: rotate(-90deg);
  transition: transform 0.3s;
}

.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.collapsible--expanded .collapsible__chevron {
  transform: rotate(0);
}

.collapsible--expanded .collapsible__content {
  max-height: 100%;
  opacity: 1;
}

.nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1.5rem 0rem 0 0;
  align-items: center;
}

.nav__list {
  width: 100%;
  margin: 0;
}
.nav__item {
  margin: 2rem;
}

.nav__item > a {
  color: var(--color-primary);
  transition: color 0.3s;
}

.nav__item a:hover {
  color: rgb(221, 221, 221);
}

.nav__toggler {
  opacity: 0.5;
  transform: box-shadow 0.15s;
  cursor: pointer;
}

.nav.collapsible--expanded .nav__toggler {
  opacity: 1;

  border-radius: 5px;
}
.nav__brand {
  transform: translateY(5px);
}
.list {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
.logo a {
  color: var(--color-primary);
  text-decoration: none;
}

@media screen and (min-width: 480px) {
  .nav__toggler {
    display: none;
  }

  .nav__list {
    width: auto;
    display: flex;
    font-size: 1.6rem;
    max-height: 100%;
    opacity: 1;
  }
  .nav__item {
    border: 0;
  }
  .collapsible__content {
    display: flex;
    flex-direction: row;
  }
  .nav {
    display: flex;
    justify-content: flex-end;
  }
  .logo {
    position: static;
  }
}
.nav .button {
  display: none;
}
@media screen and (min-width: 1024px) {
  .nav {
    display: flex;
    justify-content: space-between;
  }
  .nav .button {
    display: inline;
  }
  .list .button-container {
    margin-right: 0;
    padding-right: 0;
  }
}
